@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --colorosn: #156963;
    --colorfon: white;
    --but1: #333333;
    --but2: #FFFFFF;
    --Txt: #2C1500;
    --colorbox:#E0E0E0;
    --colorblack:#000000;
    --section4: #F3F4F6;
    --colorbt:#FAFEFE;
}


.body
{
    background-color: var(--colorfon);
}

.main
{
    box-sizing: border-box;
    width: 1280px;
}

.header
{
    width: 1168px;
    height: 36px;
    margin-left: 56px;
    margin-top: 40px;  
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
   

}

.logo
{
    display: flex;
    box-sizing: border-box;
    position: static;
}

.right
{ 
    display: flex;
    position: static;
    width: 430px;
    height: 36px;
    justify-content: space-between;

}

.search
{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 20px;
}

.buy
{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 20px;
}

.buttonTop
{
    box-sizing: border-box;
    width: 230px;
    height: 36px;
    display: flex;
    flex-direction: row;
    
}

.bT1
{
    background-color: var(--colorfon);
    font-family: 'Nunito', sans-serif;
    color: var(--colorosn);
    text-decoration: none;
    width: 110px;
    height: 36px;
    border: none;
    padding: 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;


}

.bT2
{
    background-color: var(--colorosn);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: var(--colorfon);
    width: 110px;
    height: 36px;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click:active
{
    box-shadow: 0 0 2px 2px inset grey;
    border-radius: 2px;

}

.click:hover 
{
    color: #849d9a;

}

.formBt
{
    background-color: var(--colorosn);
    font-family: 'Nunito', sans-serif;
    color: var(--colorfon);
    text-decoration: none;
    box-sizing: border-box;
    width: 80px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.mainPhoto
{
    width: 608px;
    height: 740px;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
   
}

.section
{
    display: flex;
}

.divF
{
    display: flex;
    flex-direction: column;

}

.FirstZag
{
    font-family: 'Montserrat', sans-serif;
    color: var(--colorosn);
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    display: flex;
    box-sizing: border-box;
    width: 522px;
    height: 166px;
    margin-top: 186px;
    margin-left: 77px;
    margin-bottom: 0px;

}

.FirsTxt
{
    font-family: 'Montserrat', sans-serif;
    color: var(--Txt);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    display: flex;
    box-sizing: border-box;
    width: 493px;
    height: 96px;

    margin-top: 24px;
    margin-left: 77px;
    margin-bottom: 0px;
}

.ButFl
{
    display: flex;
    flex-direction: row;
    
}

.button1
{
    background-color: var(--colorfon);
    border: none;
    box-sizing: border-box;  
    display: flex;
    width: 320px;
    height: 160px;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 32px;

}

.button2
{
    background-color: var(--colorosn);
    border: none;
    display: flex;
    box-sizing: border-box;
    width: 320px;
    height: 160px;
    margin-top: 110px;
    flex-direction: column;
    
    
}

.positionLeft
{
    display: flex;
    margin-left: 42px; 
    margin-top: 30px;
}

.positionRight
{
    display: flex;
    margin-left: 42px;
    margin-top: 39px;
}

.txtBut1
{
    font-family: 'Montserrat', sans-serif;
    color: var(--colorosn);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    display: flex;
    margin-left: 42px; 
    margin-top: 12px;

}

   

.txtBut2
{
   font-family: 'Montserrat', sans-serif; 
   color: var(--but2);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;


    display: flex;
    margin-left: 42px; 
    margin-top: 12px;
}



.section1
{
    display: flex;
    box-sizing: border-box;
    width: 1168px;
    height: 155px;
    margin-left: 56px;
    margin-top: 142px;
    
}

.posBox
{
    border: 1px solid var(--colorbox);
    
    display: flex;
    box-sizing: content-box;
   
    width: 268px;
    height: 155px;
    flex-direction: column;
}

.BoxFl
{
    display: flex;

}

.posBL
{
    margin-left: 32px;
}


.imgBox
{
    display: flex;
    box-sizing: content-box;
    
    width: 48px;
    height: 48px;

    margin-top: 22px;
    margin-left: 16px;
}

.zagBox
{
    color: var(--colorosn);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
   
    display: flex;
    box-sizing: content-box;
    
}

.zagFl1
{
    margin-top: 22px;
    margin-left: 16px;

    width: 137px;
    height: 48px;
    margin-bottom: 0px;
}

.zagFl
{
    margin-top: 22px;
    margin-left: 16px;
    margin-bottom: 0px;

    width: 100px;
    height: 48px;
}

.txtBox
{
    color: var(--Txt);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    
    display: flex;
    box-sizing: content-box;
    
    width: 236px;
    height: 48px;

    margin-top: 16px;
    margin-left: 16px;
    
}

.section2
{
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
   
    width: 1168px;
    height: 352px;
    margin-left: 56px;
    margin-top: 80px;
    
}

.ZagCase
{ 
    color: var(--colorblack);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    display: flex;
    box-sizing: content-box;
   
    width: 162px;
    height: 24px;

    margin-top: 0px;
    
   
}

.CaseFl
{
    display: flex;
    margin-top: 24px;
    justify-content: space-between;


}


.PositionCase
{
    display: flex;
    box-sizing: border-box;
   
    width: 217px;
    height: 281px;
    flex-direction: column;

   
}


.zagC1
{
   color: var(--colorblack);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    box-sizing: border-box;

    height: 20px;

    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;

   
}

.zagC2
{
    color: var(--colorblack);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    box-sizing: border-box;

    height: 20px;

    justify-content: center;
    margin: 0px;

    
}

.line
{
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;

    height: 47px;
}

.section3
{
    display: flex;
    box-sizing: border-box;
    
    width: 1165px;
    height: 610px;
   
    margin-top: 80px;
    margin-left: 58px;
}

.Sec3Fl
{
    display: flex;
    flex-direction: column;
}

.ZagSec3
{
    color: var(--Txt);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;

    display: flex;
    box-sizing: border-box;
    
    width: 522px;
    height: 112px;
    margin-top: 0px;
    margin-bottom: 16px;
   
}

.txtSec3
{

    color: var(--Txt);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    display: flex;
    box-sizing: border-box;
   
    width: 507px;
    height: 140px;
    margin-top: 0px;
    margin-bottom: 74px;
   

}

.imgPosition1
{
    display: flex;
    box-sizing: border-box;

    margin-top: 0px;
   
    
}

.imgPosition2
{
    display: flex;
    box-sizing: border-box;
    margin-left: 84px;
}

.section4
{
    background-color: var(--section4);

    display: flex;
    box-sizing: border-box;
    
    width: 1168px;
    height: 360px;

    margin-top: 80px;
    margin-left: 56px;
    

}


.divPosition
{
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
    
    width: 585px;
    height: 184px;

    margin-top: 88px;
    margin-left: 97px;
    text-decoration: none;
   
}

.ZagSec4
{

    color: var(--Txt);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;

    display: flex;
    box-sizing: border-box;
    
    width: 585px;
    height: 112px;
    margin: 0px;
   
}



.butSec4
{
   
    background: var(--colorosn);
    color: var(--colorbt);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: none;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;
    width: 152px;
    height: 40px;

    margin-top: 32px;

    justify-content: center;
    align-items: center;  
}

.hr
{
    text-decoration: none;

}

.img13Position
{
    display: flex;
    box-sizing: border-box;
    margin-left: 6px;
    
    
  
}

.footer
{
    border-top: 1px solid #156963;
    
    display: flex;
    box-sizing: border-box;
    
    width: 1280px;
    height: 268px;

    margin-top: 80px;
    flex-direction: row;
   
}

.footerInside
{
    display: flex;
    box-sizing: border-box;
    
    width: 946px;
    height: 137px;

    margin-top: 60px;
    margin-left: 167px;
    
   
}

.FootDiv
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;

}

.ZagFoot1
{
    color: var(--colorosn);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    display: flex;
    box-sizing: border-box;
  
    width: 112px;
    height: 24px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    
}

.ZagFoot2
{
    color: var(--but1);
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
   
}

.ZagFoot3
{

    color: var(--colorosn);
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
 

    display: flex;
    box-sizing: border-box;
  
    width: 234px;
    height: 32px;
   
}

.txtFoot
{
    color: #4F4F4F;
    font-family: 'Work Sans', sans-serif ;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;

    
    display: flex;
    box-sizing: border-box;
  
    width: 283px;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

.DivFoot
{
    color: var(--colorblack);
    font-family: 'Work Sans', sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}

.FootDiv2
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 80px;
}

.FootDiv3
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 80px;
}

.Pos1
{
    display: flex;
    box-sizing: border-box;
   
    width: 93px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 14px;
   
}

.Pos2
{
    display: flex;
    box-sizing: border-box;
   
    width: 96px;
    height: 16px;
    margin: 0px;
    
}

.Pos3
{
    display: flex;
    box-sizing: border-box;
    
    width: 62px;
    height: 16px;
    margin: 0px;
    
}

.Pos4
{
    display: flex;
    box-sizing: border-box;
   
    width: 96px;
    height: 16px;

    margin-top: 14px;
    margin-bottom: 0px;
    
}



.btFoot
{
    background-color: var(--colorosn);
    color: var(--but2);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    border: none;

    display: flex;
    box-sizing: border-box;
    
    width: 51px;
    height: 22px;
    
}

.PosZF21
{
    
    display: flex;
    box-sizing: border-box;
    
    width: 115px;
    height: 19px;

    margin-top: 24px;
    margin-bottom: 10px;
    
}

.PosZF22
{
    display: flex;
    box-sizing: border-box;
    
    width: 92px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.PosZF23
{
    display: flex;
    box-sizing: border-box;
    
    width: 56px;
    height: 16px;

    margin-top: 0px;
    margin-bottom: 20px;
    
}

.PosZF24
{
    display: flex;
    box-sizing: border-box;
    
    width: 200px;
    height: 16px;

    margin-top: 0px;
    margin-bottom: 0px;
    
}

.form
{
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
   
    width: 234px;
    height: 98px;

    margin-left: 80px;
    
}

.formm
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    

}




.bodyForm
{
min-height: 100vh;
display: flex;
flex-direction: column;
}

.headerForm
{
width: 1168px;
margin-left: 56px;
margin-top: 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

.mainForm
{
flex-grow: 1;
}

.footerForm
{
display: flex;
width: 1280px;
}

.FormaZag
{
    font-family: 'Montserrat', sans-serif;
    color: var(--colorosn);
    font-weight: 70px;
    font-size: 28px;
}

.FormF
{
   display: flex;
   flex-direction: column;
   width: 900px;
    margin: 100px;
}

.batForm
{
    background-color: var(--colorosn);
    color: var(--but2);
    font-family: 'Raleway', sans-serif;
    border: none;
}

.red
{
    background-color: #FFC0CB;
}